<script type="text/javascript" src="popup.js"></script>
<div style="width: 300px;">
    <h1>PuplDom Youtube player</h1>
    <button id="play">Play on youtube</button>
    <button id="stop">Stop playing</button>
</div>

